div.form-group{
  margin-bottom: 1px;
}

#checkBox{
  height: 25px;
}

div{
  label{
    padding-right: 5px;
    padding-left: 20px;
  }
}

form{
  padding-left: 5px;
}

#update{
  height: 40px;
  width: 100px;
  margin-top: 10px;
}

#add {
  height: 40px;
  width: 100px;
  margin-top: 10px;
}
