<div *ngIf="device" id="panel">
  <p><span class="device-type">Typ urządzenia: {{device.typeOfDevice}}</span>
    <a *ngIf="deviceType == 'HS110'">
      <img src="/assets/images/hs110.jpg" style="width:60px">
    </a>
    <a *ngIf="deviceType == 'WEMO'">
      <img src="/assets/images/wemo.png" style="width:80px">
    </a>
  </p>
  <div *ngIf="getCurrentMeasurement(device.deviceId) | async; let reading; else loading" class="container" id="current">
    <div class="row" id="buttons">
        <div  type="button"  (click)="changeDeviceState()" [ngSwitch]="reading.deviceState" class="col-2" id="powerIcon">
          <div *ngSwitchCase="1">
            <img src="/assets/svg/on_icon.svg" style="width:150px">
          </div>
          <div *ngSwitchDefault>
            <img src="/assets/svg/off_icon.svg" style="width:150px">
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-3" id="current-reading">
        {{reading.value.toFixed(1)}}W
      </div>
      <div class="col-lg-5">
        <app-instant-chart [reading$]="getCurrentMeasurement(device.deviceId)"></app-instant-chart>
      </div>
    </div>
  </div>
  <p><button type="button" class="btn btn-info" routerLink="/readings/{{device.deviceId}}">Wyświetl pomiary</button></p>
</div>
<ng-template #loading>
  <img src="assets/svg/spinner.svg" height="60px"/>
</ng-template>
