#current-reading {
  color: #1A5D00;
  font-size: 290%;
  font-weight: bolder;
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

span.device-type{
  color: #1A7794;
  font-size: 180%;
  font-weight: bold;
}

#current {
  max-width: 800px;
  position: relative;
  right: 10px;
  padding: 0px;
}

#panel {
  max-width: 800px;
}

#powerIcon {
  max-height: 60px;
  cursor: pointer;
}

#buttons {
  height: 60px;
}
